.tech-item{
  display:flex;
  max-width:25%;
  width:100%;
  flex-direction:column;

  justify-content:center;
  align-items:center;
  margin-bottom:2rem;

  opacity:0;
  transform:translate3d(0, 50%, 0);
  transition:all 0.4s;


  .tech-img{
    height:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:2rem;
    padding:1rem;
  }

  .tech-icon{
    max-height:100px;
  }


}

.in-view{
  .tech-item{
    opacity:1;
    transform:translate3d(0, 0, 0);
  }
}
